apiVersion: v1
kind: Service
metadata:
  name: kms-frontend
  namespace: kms
  labels:
    app: kms-frontend
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
  selector:
    app: kms-frontend