apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-config
  namespace: monitoring
data:
  grafana.ini: |
    [server]
    root_url = http://localhost:3000

    [datasources]
    [datasources.loki]
    type = loki
    access = proxy
    url = http://loki:3100
    isDefault = true