apiVersion: v1
kind: Secret
metadata:
    name: kms-secrets
    namespace: kms
type: Opaque
stringData:
    mongo-uri: "mongo-uri"
    jwt-secret: "jwt-secret"
    stripe-secret-key: "stripe-secret-key"
    stripe-webhook-secret: "stripe-webhook-secret"
    cloudinary-api-key: "cloudinary-api-key"
    cloudinary-api-secret: "cloudinary-api-secrets"
    gmail-user: "gmail-user"
    gmail-app-password: "gmail-app-password"
    edamam-app-key: "edamam-app-key"