apiVersion: v1
kind: ConfigMap
metadata:
  name: fluentbit-config
  namespace: monitoring
data:
  fluent-bit.conf: |
    [SERVICE]
        Flush         1
        Log_Level     info
        Daemon        off
        Parsers_File  parsers.conf

    [INPUT]
        Name              tail
        Path              /var/log/pods/*/*/*.log
        Path_Key          filename
        Parser            docker
        Tag               kube.*
        Refresh_Interval  5
        Mem_Buf_Limit     50MB
        Skip_Long_Lines   On
        Read_from_Head    false
        DB                /tmp/flb-db/flb-kube.db
        DB.locking        true

    [FILTER]
        Name                rewrite_tag
        Match               kube.*
        Rule                $filename ^/var/log/pods/(?<namespace>[^_]+)_(?<pod_name>[^_]+)_(?<pod_uid>[^/]+)/(?<container_name>[^/]+)/.+\.log$ kube.$container_name.$namespace.$pod_name false
        Emitter_Name        re_emitted

    [FILTER]
        Name                kubernetes
        Match               kube.*
        Kube_URL            https://kubernetes.default.svc:443
        Kube_CA_File        /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
        Kube_Token_File     /var/run/secrets/kubernetes.io/serviceaccount/token
        Merge_Log           On
        Keep_Log            Off
        K8S-Logging.Parser  On
        K8S-Logging.Exclude Off
        Labels              On
        Annotations         Off

    [FILTER]
        Name                grep
        Match               kube.*
        Exclude             $kubernetes['namespace_name'] ^(?!kms$).*

    [OUTPUT]
        Name        loki
        Match       kube.*
        Host        loki.monitoring.svc
        Port        3100
        URI         /loki/api/v1/push
        Labels      job=fluentbit
        Label_keys  $namespace,$pod_name,$container_name
        Remove_keys filename
        Auto_kubernetes_labels on

  parsers.conf: |
    [PARSER]
        Name        docker
        Format      json
        Time_Key    time
        Time_Format %Y-%m-%dT%H:%M:%S.%L
        Time_Keep   On
