apiVersion: v1
kind: ConfigMap
metadata:
  name: mimir-config
  namespace: monitoring
data:
  mimir.yaml: |
    target: all
    server:
      http_listen_port: 9009
      grpc_listen_port: 9097
    distributor:
      pool:
        health_check_ingesters: true
    ingester:
      ring:
        kvstore:
          store: memberlist
        replication_factor: 1
    limits:
      ingestion_rate: 25000
      ingestion_burst_size: 25000
      max_global_series_per_user: 0
      max_global_series_per_metric: 0
    blocks_storage:
      backend: filesystem
      filesystem:
        dir: /var/mimir/blocks
    compactor:
      data_dir: /var/mimir/compactor
      sharding_ring:
        kvstore:
          store: memberlist
    memberlist:
      join_members:
        - mimir:7946
